.btn-rules {
  padding: 10px 20px;
  display: block;
  margin-top: 50px;
  margin-left: 400px;
  font-size: 20px;
  height: 60px;
  width: 100px;
  font-family: 'Gabarito', cursive;
}

.rules, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.rules-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  font-family: 'Gabarito', cursive;
}

.close-rules {
  position: absolute;
  top: 27px;
  right: 20px;
  height: 40px;
  width: 40px;
  padding: 5px 7px;
}

.rule {
  color: black;
  text-align: left;
}
